.Achievement_container {
    background-image: url(./Antariksh_HomePageS2.jpg);
    height: 120vh;
    width: 100%;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    background-repeat: repeat-x;
}

.star{
    background-image: url(./Antariksh_HomePageS2.jpg);
    width: 1000%;
    position: absolute;
    z-index: 1;
    background-attachment: fixed;
    background-repeat: repeat-x;
    animation: bg 1500s linear infinite;
}
@keyframes bg {
    100%{
        transform: translateX(-3400px);
    }
}

.skew {
    position: relative;
    z-index: 2;
   
}

.skew_img {
    position: absolute;
    z-index: 4;
    top:0%;
    left : 0px;
    background-color: orange;
    transform: skew(-5deg , 0deg);
    margin-top: -3rem;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.skew_content_container {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
    /* glassmorphism */
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-style: none;
}

.skew_content {
    transform: skew(-5deg , 0deg);
}

.heading {
    margin-top: 5vh;
    font-size: 8.3vh;
    font-weight: 600;
    color: rgb(126, 124, 124);
    transform: skew(-2deg , 0deg);

    /* text-shadow: 
    1px 2px 1px rgb(195, 188, 188); */

    text-shadow: 
    1px 2px 1px rgb(188, 186, 186),
    1px 3px 1px rgb(188, 186, 186),
    1px 4px 1px rgb(188, 186, 186),
    1px 5px 1px rgb(188, 186, 186),
    1px 6px 1px rgb(188, 186, 186);


    /* text-shadow: 2px 2px 2px rgb(206, 185, 185); */

    /* rgb(206, 185, 185) */
}


.text {
    font-size: 2rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
}

.sub-text1{
    margin-top: 2rem;
    text-align: left;
}

.sub-text2-1 {
    /* margin-top: 3rem; */
    text-align: left;
    margin-bottom: 0;
}

.sub-text2-2 {
    text-align: right;
}

.champ {
    font-size: 10vh;
    font-weight: 700;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    background: url(./back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.sci {
    text-align: left;
    font-size: 8vh;
    font-weight: 700;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    background: url(./back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.nav {
    text-align: left;
    font-size: 8vh;
    font-weight: 700;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    background: url(./back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

































/* .skew .skew-image {
    position: absolute;
    z-index: 3;
    width: 50%;
    right:0;
    top:5%;
    bottom: 5%;
    background-image: url(./AntarikshLogo_Zoom.png);
    background-size: cover;
    background-position: 33%;
} */

/* .skew .skew-wrapper {
    position: relative;
} */

/* .skew .skew-content-bg {
    position: relative;
    font-size: 1.4rem;
    color :#fff;
    padding: 30px 20px;
} */

/* .skew .skew-image {
    position: absolute;
    height: 100%;
    top:0%;
    left : -1px;
    box-shadow: rgba(0,0,0,0.45) 5px 10px 20px 0;
    background-color: orange;
    background-position: centre left ;
    transform: skew(-5deg , 0deg);
} */